*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--white-1);
}

:root {
  /* White */
  --white-0: #FFFFFF;
  --white-1: #FFFAFA;
  --white-2: #F0FFFF;
  /* Black */
  --black-1: #000000;
  /* Blue */
  --blue-1: #4169E1;
  /* Gray */
  --gray-1: #222;
  --gray-2: #5f5f5f;
  --gray-3: #c8c8c8;
  --gray-4: #e0e0e0;
  /* Purple */
  --purple-1: #8b0992;

}

.container {
  display: flex;
  padding: 3rem 6rem;
}
.container-title {
  padding: 1.8rem 6rem 0 6rem;
  font-size: 3.2rem;
}
.link {
    font-size: 2.4rem;
    color: var(--blue-1);
    text-decoration: none;
    border-bottom: 1px solid var(--blue-1);
}
.link:hover {
  color: var(--purple-1);
  border-bottom: 1px solid var(--purple-1);

}

/* Dark Mode */
.dark {
  color: #FFFAFA;
  --white-0: #000000;
  --white-1: #222;
  --black-1: #FFFAFA;
  --gray-2: #c8c8c8;
  --blue-1: #00BFFF;
  --purple-1: #FF00FF;
}

.dark-mode {
  position: fixed;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
}
.dark-mode svg {
  fill: var(--black-1)
}
.dark-mode button {
  border: none;
  color: var(--black-1);
  background: none;
  cursor: pointer;
}
.dark-mode-icon{
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--black-1);
  cursor: pointer;
}
.dark-mode-icon:hover{
  fill: var(--gray-2);
}
/* Navbar */
.navbar {
  padding: 1.2rem 3rem;
  align-items: center;
  background-color: var(--white-0);
  box-shadow: 0px 3px 10px var(--black-1);
}
.nav-logo {
  display: flex;
  align-items: center;
  min-width: 25%;
}
.nav-logo-item {
  border-radius: 10%;
  width: 10rem;
  height: auto;
}
.nav-title {
  font-size: 1.6rem;
  text-align: center;
  padding-left: 1rem;
}
.nav-menu {
  flex-grow: 1;
}
.nav-menu ul {
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 1.2rem;
}
.nav-menu-link {
  text-decoration: none;
  cursor: pointer;
}
.nav-menu-link:hover {
  color: var(--gray-2);
}
.nav-icons{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 25%;
}
.nav-icons svg{
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--black-1);
  cursor: pointer;
}
.nav-icons svg:hover{
  fill: var(--purple-1);
}

/* Home */
.home {
  gap: 10rem;
}
.home-img-item {
  border-radius: 10%;
  width: 35rem;
  height: auto;
}
.home-text {
  align-self: center;
}
.home-text span {
  font-size: 15rem;
}
.home-text p {
  font-size: 6.4rem;
}

/* About me */
.about-me {
  justify-content: space-between;
  font-size: 3.2rem;
}
.about-me-text {
  width: 45%;
}
.about-me-text1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
}
.about-me-link {
  color: var(--blue-1);
  cursor: pointer;
}
.about-me-link:hover {
  color: var(--purple-1);
}

/* Portfolio */
.portfolio {
  justify-content: space-between;
  font-size: 3.2rem;
}
.portfolio-item{
  align-items: center;
  gap: 2rem;
}
.portfolio h3 {
  font-size: 4.2rem;
  padding: 1.8rem 6rem 0 6rem;
}
.portfolio-item-text {
  width: 65%;
  order: 1;
}
.portfolio:nth-child(even) .portfolio-item-text {
  order: 2;
}
.portfolio-link {
  display: flex;
  padding: 0 6rem 3rem 6rem;
}
.portfolio:nth-child(even) .portfolio-link {
  justify-content: flex-end;
}
.portfolio-img {
  width: 35%;
  order: 2;
}
.portfolio:nth-child(even) .portfolio-img {
  order: 1;
}
.portfolio-img-item {
  border-radius: 30px;
  max-width: 100%;
  max-height: 100%;
}
/* Crypto */
.crypto {
  justify-content: space-between;
  align-items: center;
  font-size: 3.2rem;
}
.crypto-text {
  width: 45%;
}
.crypto-img {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crypto-img-item {
  width: 36rem;
  vertical-align: middle;
  border-radius: 10%;
}
.crypto-img a:hover{
  color: var(--purple-1)
}
.crypto-link {
  color: var(--blue-1);
  cursor: pointer;
  text-decoration: none;
}
.crypto-link:hover {
  color: var(--purple-1);
}
/* Skills */
.skills {
  font-size: 2.4rem;
}
.skills ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
}
.skills ul li {
  width: 25rem;
  padding: 1.2rem 0;
  text-align: center;
  border: var(--black-1) 2px solid;
  border-radius: 30px;
  box-shadow: -5px 5px var(--black-1);
}
.skills ul li:hover {
  color: var(--blue-1);
  border: var(--blue-1) 2px solid;
  box-shadow: -5px 5px var(--blue-1);
}
/* Contact */
.contact {
  justify-content: flex-start;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin-left: 1.2rem;
  flex-grow: 1;
}
.contact-form-item {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
font-size: 2.4rem;
background-color: var(--white-0);
color: var(--black-1);
padding: 1.2rem;
margin: 0 1.2rem 0 1.2rem;
border: solid 2px var(--black-1);
border-radius: 30px;
outline: none;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form button {
  background-color: var(--gray-3);
  color: black;
  cursor: pointer;
  font-size: 2rem;
  padding: 1.2rem;
  width: 20%;
  border: none;
  border-radius: 30px;
  margin-left: 1.2rem;
}
.contact-form button:hover {
  background-color: var(--gray-4);
}

.sidebar-item {
  display: flex;
  padding-bottom: 1.8rem;
}
.sidebar-img {
  padding-right: 2.4rem;
  padding-top: 5px;
}
.sidebar-text p{
  font-size: 1.8rem;
}
.sidebar-text a{
  font-size: 1.8rem;
}
.sidebar-text h2{
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
/* Footer */
.footer{
  padding: 1.2rem 3rem;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
}
.footer-blank{
  width: 33%;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.footer-icons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
  gap: 20px;
}
.footer-icons svg{
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--black-1);
  cursor: pointer;
}
.footer-icons svg:hover{
  fill: var(--purple-1);
}


/* Mobile */
@media (max-width: 700px) {
  html{
    font-size: 31.25%;
  }
  .container {
    padding: 3rem 5rem;
  }
  .container-title {
    padding: 1.8rem 3rem 0 3rem;
    text-align: center;
  }
  /* Navbar */
  .footer {
    padding: 2rem 3rem;
  }
  /* Home */
  .home-text p {
    font-size: 5.4rem;
  }
  /* About Me */
  .about-me {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
  .about-me-text {
    text-align: start;
    width: 100%;
  }
  .about-me-text1 {
    text-align: start;
    width: 100%;
    gap: 12px;
  }
/* Portfolio */
.portfolio {
  text-align: center;
}
.portfolio h3 {
  font-size: 3.6rem;
}
.portfolio-item {
  flex-direction: column;
  padding: 3rem 8rem;
}
.portfolio-item-text {
  width: 100%;
  order: 2;
  text-align: start;
}
.portfolio-img {
  width: 100%;
  order: 1;
}
.portfolio-img-item {
  width: 250px;
}
.portfolio-link {
  padding: 0 8rem 3rem 8rem;
}
.portfolio:nth-child(even) .portfolio-link {
  justify-content: flex-start;
}
/* Crypto */
.crypto {
  flex-direction: column;
  gap: 12px;
}
.crypto-text{
  order: 2;
  width: 100%;
}
/* Skills */
.skills ul li {
    padding: 1rem 0;
    border: var(--black-1) 1px solid;
    box-shadow: -2px 2px var(--black-1);
    width: 16rem;
  }
  .skills ul li:hover {
    color: var(--blue-1);
    border: var(--blue-1) 1px solid;
    box-shadow: -2px 2px var(--blue-1);
  }
  /* Contact */
  .contact{
    flex-direction: column;
  }
  .contact-form{
    margin-left: 0;
    margin-top: 12px;
    gap: 12px;
  }
  .contact-form-item {
    border: solid 1px var(--black-1);
    border-radius: 15px;
    margin: 0 12px 6px 12px;
    padding-left: 12px;
  }
  .contact-form button {
    margin-left: 12px;
  }
  /* Footer */
  .footer {
    padding: 1rem 1rem;
  }
  .footer-icons {
    gap: 10px;
  }
  .footer-icons svg {
    width: 2.4rem;
  }
}


/* Tablet */
@media (max-width: 1000px) {
  html{
    font-size: 46.875%;
  }
  /* Navbar */
  .navbar {
    justify-content: space-between;
  }
  .nav-menu {
    display: none;
  }
  /* Home */
  .home {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .home-img {
    margin-top: 3rem;
  }
  .home-img-item {
    width: 42rem;
  }
}