* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--white-1);
}

:root {
  /* White */
  --white-0: #ffffff;
  --white-1: #fffafa;
  --white-2: #f0ffff;
  /* Black */
  --black-1: #000000;
  /* Blue */
  --blue-1: #4169e1;
  /* Gray */
  --gray-1: #222;
  --gray-2: #5f5f5f;
  --gray-3: #c8c8c8;
  --gray-4: #e0e0e0;
  /* Purple */
  --purple-1: #8b0992;
}

.container {
  display: flex;
  padding: 3rem 6rem;
}
.container-title {
  padding: 1.8rem 6rem 0 6rem;
  font-size: 3.2rem;
}
.link {
  font-size: 2.2rem;
  color: var(--blue-1);
  text-decoration: none;
  border-bottom: 1px solid var(--blue-1);
  transition: color 0.4s, border-bottom 0.4s;
}
.link:hover {
  color: var(--purple-1);
  border-bottom: 1px solid var(--purple-1);
}

/* Dark Mode */
.dark {
  color: #fffafa;
  --white-0: #000000;
  --white-1: #222;
  --black-1: #fffafa;
  --gray-2: #c8c8c8;
  --blue-1: #00bfff;
  --purple-1: #ff00ff;
}

.dark-mode {
  position: fixed;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
}
.dark-mode svg {
  fill: var(--black-1);
}
.dark-mode button {
  border: none;
  color: var(--black-1);
  background: none;
  cursor: pointer;
}
.dark-mode-icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--black-1);
  cursor: pointer;
  transition: fill 0.4s;
}
.dark-mode-icon:hover {
  fill: var(--gray-2);
}
/* Navbar */
.navbar {
  padding: 1.2rem 3rem;
  align-items: center;
  background-color: var(--white-0);
  box-shadow: 0px 3px 10px var(--black-1);
}
.nav-logo {
  display: flex;
  align-items: center;
  min-width: 25%;
}
.nav-logo-item {
  border-radius: 10%;
  width: 10rem;
  height: auto;
}
.nav-title {
  font-size: 1.6rem;
  text-align: center;
  padding-left: 1rem;
}
.nav-menu {
  flex-grow: 1;
}
.nav-menu ul {
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 1.2rem;
}
.nav-menu-link {
  color: var(--gray-2);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.4s;
}
.nav-menu-link:hover {
  color: var(--black-1);
}
.nav-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 25%;
}
.nav-icons svg {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--black-1);
  cursor: pointer;
  transition: fill 0.4s;
}
.nav-icons svg:hover {
  fill: var(--purple-1);
}

/* Home */
.home {
  gap: 10rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.home-img-item {
  border-radius: 10%;
  width: 35rem;
  height: auto;
}
.home-text {
  align-self: center;
}
.home-text span {
  font-size: 15rem;
}
.home-text p {
  font-size: 6.4rem;
}

/* About me */
.about-me {
  justify-content: space-between;
  font-size: 2.8rem;
}
.about-me-text {
  width: 45%;
}
.about-me-text1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
}
.about-me-link {
  color: var(--blue-1);
  cursor: pointer;
  transition: color 0.4s;
}
.about-me-link:hover {
  color: var(--purple-1);
}

/* Portfolio */
.portfolio {
  justify-content: space-between;
  font-size: 2.8rem;
}
.portfolio-item {
  align-items: center;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.portfolio h3 {
  font-size: 4.2rem;
  padding: 1.8rem 6rem 0 6rem;
}
.portfolio-item-text {
  width: 45%;
  order: 1;
}
.portfolio:nth-child(even) .portfolio-item-text {
  order: 2;
}
.portfolio-link {
  display: flex;
  padding: 0 6rem 3rem 6rem;
}
.portfolio:nth-child(even) .portfolio-link {
  justify-content: flex-end;
}
.portfolio-img {
  width: 45%;
  order: 2;
}
.portfolio:nth-child(even) .portfolio-img {
  order: 1;
}
.portfolio-img-item {
  max-width: 100%;
  max-height: 100%;
}
/* Crypto */
.crypto {
  justify-content: space-between;
  align-items: center;
  font-size: 2.8rem;
}
.crypto-text {
  width: 45%;
}
.crypto-img {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crypto-img-item {
  width: 36rem;
  vertical-align: middle;
  border-radius: 10%;
  transition: color 0.4s;
}
.crypto-link {
  color: var(--blue-1);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.4s;
}
.crypto-link:hover {
  color: var(--purple-1);
}
/* Skills */
.skills {
  font-size: 2rem;
}
.skills ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
}
.skills ul li {
  width: 25rem;
  padding: 1.2rem 0;
  text-align: center;
  border: var(--black-1) 2px solid;
  border-radius: 30px;
  box-shadow: -5px 5px var(--black-1);
  transition: color 0.4s, border 0.4s, box-shadow 0.4s;
}
.skills ul li:hover {
  color: var(--blue-1);
  border: var(--blue-1) 2px solid;
  box-shadow: -5px 5px var(--blue-1);
}
/* Contact */
.contact {
  justify-content: flex-start;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin-left: 1.2rem;
  flex-grow: 1;
}
.contact-form-item {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2.4rem;
  background-color: var(--white-0);
  color: var(--black-1);
  padding: 1.2rem;
  margin: 0 1.2rem 0 1.2rem;
  border: solid 2px var(--black-1);
  border-radius: 30px;
  outline: none;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form button {
  background-color: var(--gray-3);
  color: black;
  cursor: pointer;
  font-size: 2rem;
  padding: 1.2rem;
  width: 30%;
  border: none;
  border-radius: 30px;
  margin-left: 1.2rem;
  transition: background-color 0.4s;
}
.contact-form button:hover {
  background-color: var(--gray-4);
}

.sidebar-item {
  display: flex;
  padding-bottom: 1.8rem;
}
.sidebar-img {
  padding-right: 2.4rem;
  padding-top: 5px;
}
.sidebar-text p {
  font-size: 1.8rem;
}
.sidebar-text a {
  font-size: 1.8rem;
  border-bottom: none;
}
.sidebar-text a:hover {
  border-bottom: none;
}
.sidebar-text h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
/* Forgotten Apes */
.back-link {
  font-size: 3.2rem;
  padding: 1rem;
}
.back {
  border-bottom: none;
}
.back:hover {
  border-bottom: none;
}
.project {
  padding: 2rem 10rem 3rem 10rem;
  font-size: 3.2rem;
  flex-direction: column;
  padding-top: 1rem;
}
.project-title {
  font-size: 3.2rem;
  padding: 2rem 1rem 1rem 1rem;
  font-weight: 600;
  text-align: center;
}
.project-logos {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 3.2rem;
  padding: 1rem;
  text-align: center;
}
.project-logos a {
  color: var(--blue-1);
  transition: color 0.4s;
}
.project-logos a:hover {
  color: var(--purple-1);
}
.project-question {
  font-size: 2.4rem;
  padding: 1rem;
  padding-top: 0;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.project-text-container {
  font-size: 1.8rem;
  width: 100%;
}
.project-text h2 {
  padding: 1rem;
}
.project-text h3 {
  padding: 1rem;
}
.project-text p {
  padding: 1rem;
}
.project-text {
  font-size: 2.2rem;
}
.project-img {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tweet-img {
  max-width: 500px;
  box-shadow: 0px 3px 5px var(--black-1);
}
.website-img {
  max-width: 750px;
  box-shadow: 0px 3px 5px var(--black-1);
}
.project-video {
  max-width: 750px;
  box-shadow: 0px 3px 5px var(--black-1);
}
.project-link {
  color: var(--blue-1);
  text-decoration: none;
  transition: color 0.4s;
}
.project-link:hover {
  color: var(--purple-1);
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}
.project-list ul {
  padding: 1rem;
  list-style-type: none;
}
.movie-ratings-list {
  justify-content: space-around;
}
/* Footer */
.footer {
  padding: 1.2rem 3rem;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
}
.footer-blank {
  width: 33%;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
  gap: 20px;
}
.footer-icons svg {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--black-1);
  cursor: pointer;
  transition: fill 0.4s;
}
.footer-icons svg:hover {
  fill: var(--purple-1);
}

/* Mobile */
@media (max-width: 700px) {
  html {
    font-size: 31.25%;
  }
  .container {
    padding: 3rem 2rem;
  }
  .container-title {
    padding: 1.8rem 2rem 0 2rem;
    text-align: center;
  }
  /* Navbar */
  .navbar {
    padding: 2rem 2rem;
  }
  /* Home */
  .home-text p {
    font-size: 5.4rem;
  }
  /* About Me */
  .about-me {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
  .about-me-text {
    text-align: start;
    width: 100%;
  }
  .about-me-text1 {
    text-align: start;
    width: 100%;
    gap: 12px;
  }
  /* Portfolio */
  .portfolio {
    text-align: center;
  }
  .portfolio h3 {
    font-size: 3.6rem;
    padding: 1.8rem 2rem 0 2rem;
  }
  .portfolio-item {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .portfolio-item-text {
    width: 100%;
    order: 2;
    text-align: start;
  }
  .portfolio-img {
    width: 100%;
    order: 1;
  }
  .portfolio-img-item {
    width: 250px;
  }
  .portfolio-link {
    padding: 0 2rem 3rem 2rem;
  }
  .portfolio:nth-child(even) .portfolio-link {
    justify-content: flex-start;
  }
  /* Crypto */
  .crypto {
    flex-direction: column;
    gap: 12px;
  }
  .crypto-text {
    order: 2;
    width: 100%;
  }
  /* Skills */
  .skills {
    padding: 3rem 1rem 3rem 1rem;
  }
  .skills ul li {
    padding: 1rem 0;
    border: var(--black-1) 1px solid;
    box-shadow: -2px 2px var(--black-1);
    width: 16rem;
    transition: color 0.4s, border 0.4s, box-shadow 0.4s;
  }
  .skills ul li:hover {
    color: var(--blue-1);
    border: var(--blue-1) 1px solid;
    box-shadow: -2px 2px var(--blue-1);
  }
  /* Contact */
  .contact {
    flex-direction: column;
  }
  .contact-form {
    margin-left: 0;
    margin-top: 12px;
    gap: 12px;
  }
  .contact-form-item {
    border: solid 1px var(--black-1);
    border-radius: 15px;
    margin: 0 12px 6px 12px;
    padding-left: 12px;
  }
  .contact-form button {
    margin-left: 12px;
    width: 40%;
  }
  /* Footer */
  .footer {
    padding: 1rem 1rem;
    justify-content: space-between;
  }
  .footer-icons {
    gap: 10px;
  }
  .footer-icons svg {
    width: 2.4rem;
  }
  .footer-blank {
    display: none;
  }
  /* Forgotten Apes */
  .tweet-img {
    max-width: 100%;
  }
}

/* Tablet */
@media (max-width: 1000px) {
  html {
    font-size: 46.875%;
  }
  /* Navbar */
  .navbar {
    justify-content: space-between;
  }
  .nav-menu {
    display: none;
  }
  /* Home */
  .home {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .home-img {
    margin-top: 3rem;
  }
  .home-img-item {
    width: 40rem;
  }
  /* Forgotten Apes */
  .website-img {
    max-width: 100%;
  }
  .project-video {
    max-width: 100%;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .navbar {
    padding: 2rem 3rem;
  }
}
